<div class="block-header">
  <h1>Standard Formula</h1>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card filter-card">
      <div class="card-header">
        Information
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-126 col-xs-12">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Color</label>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{dbItem.formulaCode}}
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Collection</label>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{dbItem.collection.collectionName}}
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Product</label>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{dbItem.product.productName}}
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-126 col-xs-12">
            <div class="row" *ngFor="let colorantItem of dbItem.listColorant">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>{{colorantItem.colorant.name}}</label>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{colorantItem.quantity}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card filter-card">
      <div class="card-header">
        Mixed
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-126 col-xs-12">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Color</label>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{dbItem.formulaCode}}
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Collection</label>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{dbItem.collection.collectionName}}
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Product</label>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{dbItem.product.productName}}
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-126 col-xs-12">
            <div class="row">
              Should be replaced by bar chart.
            </div>

            <div class="row" *ngFor="let colorantItem of dbItem.listColorant">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>{{colorantItem.colorant.name}}</label>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{colorantItem.quantity}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
