body {
  background: #f9f9ff;
  height: 100%;
}

$defaultPadding: 30px;

section.content{
  margin: 15px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar{
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  //font-family: "Roboto", sans-serif;
  //background: #fdfdfd;
  //width: 300px;
  //overflow: hidden;
  //display: inline-block;
  height: calc(100vh - 77px);
  //position: fixed;
  //top: 70px;
  //left: 0;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  //z-index: 11 !important;
}


.card{
  background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: $defaultPadding;

  &.filter-card{
    .card-header{
      border-bottom: 0px solid transparent;
      background: #ffffff;
    }

    .card-footer{
      border-top: 0px solid transparent;
      background: #ffffff;
    }
  }
}

$webColor : #00417b;

.navbar.static-top{
  //background-color: $webColor;
}

.block-header h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.block-header,
.nav-item{
  color: $webColor;
}

.card-header{
  color: $webColor;
}


.breadcrumb{
  background: #FFF !important;
}

footer.sticky-footer{
  width: 100% !important;
}

#wrapper #content-wrapper{
  padding-top: 125px;
}

.separate-line{
  height: 1px;
  background: $webColor;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}
