<ul class="navbar-nav navigation-bar">

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="setting-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="updateCurrentMode(settingMode)" [attr.aria-expanded]="currentMode == settingMode" aria-controls="collapseExample">
      <i class="fas fa-cogs"></i>
      <span class="menu-item">Setting</span>
    </a>

    <div class="dropdown-menu" aria-labelledby="setting-dropdown" [ngbCollapse]="currentMode != settingMode" (click)="updateCurrentMode('hide')">
      <h6 class="dropdown-header">System setting:</h6>
      <a class="dropdown-item" [routerLink]="['../dashboard/colorant']">Colorant</a>
      <a class="dropdown-item" [routerLink]="['../dashboard/base']">Base</a>
      <a class="dropdown-item" [routerLink]="['../dashboard/collection']">Collection</a>
      <a class="dropdown-item" [routerLink]="['../dashboard/product']">Product</a>


      <!--<a class="dropdown-item" [routerLink]="['../colorant']">Register</a>-->
      <!--<a class="dropdown-item" [routerLink]="['../colorant']">Forgot Password</a>-->
      <!--<div class="dropdown-divider"></div>-->
      <!--<h6 class="dropdown-header">Other Pages:</h6>-->
      <!--<a class="dropdown-item" href="404.html">404 Page</a>-->
      <!--<a class="dropdown-item active" href="blank.html">Blank Page</a>-->
    </div>
  </li>

  <li class="nav-item" (click)="updateCurrentMode('formula')">
    <a class="nav-link" [routerLink]="['../dashboard/formula']">
      <i class="fas fa-palette"></i>
      <span class="menu-item">Formula</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['../index']">
      <i class="fas fa-file-contract"></i>
      <span class="menu-item">Job status</span>
    </a>
  </li>

  <li class="nav-item" (click)="updateCurrentMode('maintenance')">
    <a class="nav-link" [routerLink]="['../dashboard/maintenance']">
      <i class="fas fa-hammer"></i>
      <span class="menu-item">Maintenance</span></a>
  </li>

  <li class="nav-item" (click)="updateCurrentMode('question')">
    <a class="nav-link" [routerLink]="['../dashboard/question']">
      <i class="fas fa-question-circle"></i>
      <span class="menu-item">Help</span></a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="developer-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="updateCurrentMode(devMode)" [attr.aria-expanded]="currentMode == devMode" aria-controls="collapseExample">
      <i class="fas fa-cogs"></i>
      <span class="menu-item">Developer</span>
    </a>

    <div class="dropdown-menu" aria-labelledby="developer-dropdown" [ngbCollapse]="currentMode != devMode" (click)="updateCurrentMode('hide')">
      <h6 class="dropdown-header">Document :</h6>
      <a class="dropdown-item" [routerLink]="['../dashboard/help/overview']">Overview</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="['../dashboard/help/language']">Language</a>
    </div>
  </li>
</ul>
