<div class="block-header">
  <h1>Formula</h1>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card filter-card">
      <div class="card-header">
        Filter
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>Select Color</label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ng-select2 class="select-color-field" [(ngModel)]="colorName" [data]="listColors"  [value]="colorName" [placeholder]="'Choose Color'"  [width]="400" (valueChanged)="changedColor($event)"></ng-select2>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>Select Collection</label>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ng-select2 class="select-color-field" [(ngModel)]="collection" [data]="listCollections"  [value]="collection" [placeholder]="'Choose Collection'" [width]="400" (valueChanged)="changedCollection($event)"></ng-select2>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>Select Product</label>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ng-select2 class="select-color-field" [(ngModel)]="productCode" [data]="listProducts"  [value]="product" [placeholder]="'Choose Product'" [width]="400" (valueChanged)="changedProduct($event)"></ng-select2>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="filterFormula(null)">Search</button>
          <button mat-button class="btn btn-default">Reset</button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>


<div class="row" ng-init="testInput='value'">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        List Colorant
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" matSort (matSortChange)="sortData($event)" > <!---->
            <tr>
              <th mat-sort-header="formulaCode">Formula Code</th>
              <th mat-sort-header="formulaName">Formula Name</th>
              <th mat-sort-header="collection">Collection
              <th mat-sort-header="product">Product</th>
              <th mat-sort-header="createdDate">createdDate</th>
              <th mat-sort-header="createdBy">createdBy</th>
              <th>Action</th>
            </tr>

            <tr *ngFor="let formula of listItems">
              <td>{{formula.formulaCode}}</td>
              <td>{{formula.formulaName}}</td>
              <td>{{formula.collection.collectionName}}</td>
              <td>{{formula.product.productName}}</td>
              <td>{{formula.createdDate}}</td>
              <td>{{formula.createdBy}}</td>
              <td>
                <button mat-button color="primary" (click)="viewFormula(formula.formulaId)">View formula</button>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
